<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam hic eos nobis numquam. Eius ut expedita deserunt quo. Cum, nihil?</p>
    </div>
</section>