<div class="jumbotron mt-4">
      <h1 class="display-4">Notes App Node and Mongodb</h1>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit pariatur natus, deserunt cupiditate suscipit vitae.</p>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus id animi hic, consectetur distinctio aspernatur?</p>
      <a href="https://www.linkedin.com/in/mauro-avanzatti/" class="btn btn-primary">MyLinkedin</a>
</div>